:root {
    --navbarbgcolor: #1A1C20;
    --textcolor: #F0A500;
    --pagebgcolor: #282b30;
    --bordercolor: #3f3f42;
    --filterbgcolor: #1b1a1a;
}

* {
    font-family: "Monocraft", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--textcolor);
}

body {
   background-color: var(--pagebgcolor);
   font-size: 0.85vw;
}

.logo {
    height: 50px;
    width: 50px;
    margin: 0 10px;
    filter: drop-shadow(2px 3px 16px orange);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.bg-light {
    background-color: var(--navbarbgcolor) !important;
}

.carRow {
    background-color: var(--navbarbgcolor);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100px;
    line-height: 15px;
    border-radius: 20px;
    width: 80% !important;
    margin: 30px auto 0;
    border: 1.5px solid var(--bordercolor);
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--navbarbgcolor), var(--pagebgcolor));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--navbarbgcolor), var(--pagebgcolor)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.car-img {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
    filter: brightness(95%);
    filter: saturate(110%);
}

.col-lg-3, .col-12, .col-3 {
    padding: 0;
}

.col-lg-3:not(:first-child) {
    padding: 0;
    border-left: 1px solid var(--bordercolor);
}

.carRow:last-child{
    margin-bottom: 15px;
}

.row .col-12:nth-child(2) p:first-child, .text-glow {
    color: gold;
    text-shadow: 0 0 8px orange;
    font-weight: bold;
    text-align: center;
}

.filterMenu {
    display: none;
    width: 100%;
    background-color: var(--filterbgcolor);
    border-top: 1px solid var(--bordercolor);
    border-bottom: 1px solid var(--bordercolor);
    padding: 15px;
}

option {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#filterButton, #resetFilters, #sortPriceButton {
    margin: 0 15px;
    background-color: #f0a400d9;
    color: black;
    font-weight: bold;
}

#resetFilters:hover, #sortPriceButton:hover {
    color: gold;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 10px #f0a400d9;
}

.mb-3 {
    max-width: 450px;
}

.text-glow {
    color: orange;
    text-shadow: 0 0 10px #f0a400d9;
}

.btn-glow {
    color: orange;
    text-shadow: 0 0 10px #f0a400d9;
}

.pagination-container {
    margin-top: 0;
}

.pagination-container ul.pagination {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.pagination-container ul.pagination li.page-item a.page-link {
    color: black;
    border-radius: 5px;
    background-color: #f0a400d9; 
    border-color: #f0a400d9; 
    transition: color 0.3s, background-color 0.3s, border-color 0.3s; 
    margin: 5px; 
    padding: 5px 10px; 
    font-weight: bolder;
}

.pagination-container ul.pagination li.page-item a.page-link:hover {
    color: black; 
    background-color: transparent; 
    border-color: #f0a400d9; 
    color: #f0a400d9;
    font-style: italic;
}

.pagination .page-item.active .page-link {
    background-color: #ffc107; 
    border-color: #ffc107; 
    color: #000; 
}

label {
    margin: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: orange;
    text-shadow: 0 0 10px #f0a400d9;
}

label.form-label {
    margin: 3px;
    color: orange;
    text-shadow: 0 0 10px #f0a400d9;
}

.form-select {
    background-color: #ffffffb4;
    width: 300px;
}

.form-control {
    background-color: #ffffffb4;
    width: 300px;
}

.form-control:focus {
    background-color: #ffffffb4;
}

#apply:hover {
    background-color: #F0A500;
    color: black;
    transition: ease-in-out 0.4s;
    font-weight: bold;
}

#apply {
    width: 150px;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }  

.inputs input{
    width: 48%;
    float: left;
    justify-content: space-between;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.filterMenu.active {
    display: block;
    animation-duration: 0.45s;
}

.inputs2 {
    display: flex;
}

.inputs2 input{
    width: 140px;
    margin: 0 10px 0;
    float: left;
}

#hpLabel{
    width: 140px;
}

#hpLabel:first-child{
    padding-left: 10px;
}

#hpLabel:nth-child(2){
    text-align: right;
    padding-right: 10px;
}

.active .page-link{
    background-color: transparent !important;
    color: var(--textcolor) !important;
    font-style: italic;
}  

input:focus, input.form-control:focus, select:focus {
    outline: var(--textcolor) !important;
    outline-width: 50 !important;
    box-shadow: 1px 1px 6px var(--textcolor), -1px -1px 6px var(--textcolor),
    inset 0px 0px 2px var(--textcolor), inset 0px 0px 2px var(--textcolor) !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.animate-slideIn {
    animation: slideIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--textcolor);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.float-button:hover {
    background-color: var(--pagebgcolor);
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 5px var(--textcolor);
}

.float-button.show {
    opacity: 1;
}

.title {
    padding: 0 10px;
}

@media (max-width: 991px) {
    body {
        font-size: 12px;
    }

    .car-img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        border-bottom: 1px solid var(--bordercolor);
    }

    .title {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        padding: 20px 0;
        border-bottom: 1px solid var(--bordercolor);
        text-align: center;
    }
    
    float-button {
        width: 11px;
        height: 11px; 
        line-height: 40px;
        font-size: 8px;
        padding: 0;
    }
}

@media (max-width: 428px) { /* Az iPhone 13 maximális kijelzőszélessége körülbelül 428px */
    .col-12.col-lg-4 {
        flex: 1 1 50%; /* Az oszlopok egyenlő szélessége 50%-os arányban */
    }
}
